<div class="container">
  <div class="row">
{% for item in search.results %}

  {%  case item.object_type %} 
  {% when 'product' %}
  {% render 'product-cart', product:item %}

  {%  when "article" %}

    {% render 'article' article: item %}

    {%  when "page" %}

      <h3>This is page</h3>

{% endcase %} 



{% endfor %}
  
  </div>
</div>